{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}

<div style="text-align:center;">
    <h1>Privacy</h1>
    <p>We will never provide your email to anyone without your express permission.</p>
    <p>We will never email you if you don't request it.</p>
    <p>We will make it convenient to remove yourself from any mailings and change your notifications.</p>
    <p>Contact <a href="mailto:skylar.saveland@mycogia.com">Skylar Saveland</a> directly with any question or concerns.</p>
</div>

{% endblock %}
