{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Service" %}{% endblock %}

{% block body %}

<div style="text-align:center;">
    
<h1>Terms</h1>
{% trans "<p>Mycogia is a free service helping you to help better the planet.</p>" %}
{% trans "<p>No warranty to the maximum extent under law.</p>" %}
<p>You agree to respect the community in your own special way.</p>
<p>Skylar Saveland reserves authority in delegating disputes pertaining to this domain.</p>
</div>
{% endblock %}
