        <div id="pitch" >
                <h2>Mycogia is a social network</h2>
                Thank you for visiting.  We are still in pre-alpha testing.
                You can help by simply participating.  If you see anything that is wrong or that you would like changed,
                please add a note in the
                <a href="/projects/project/improve_mycogia/">Improve Mycogia project</a>
                here on the site.
                <p> Feel free to
                <a href="/projects/create/">add your own project</a> or <a href="/tribes/create/">group</a>.
                A group is open to all members of mycogia to join and has a wiki and threaded conversations.
                A project is by invitation only and has tasks associated with it in addition to a wiki and topics.
                </p>
                <p>You can make <a href="/blog/">posts</a> that are linked to a point on the earth.
                Or, if you just feel like putting something brief out there you can <a href="/tweets/">chirp</a>.
                You can trade or advertise with a <a href="/swaps/">swap</a>.  And, of course you can post
                <a href="/photos/">pictures</a> that you can then associate with your project or group.</p>
        </div>

